<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title></title>
</head>
<body>
    
    <div class="container">
        <form action="/create" method="POST">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" class="form-control" value={{lista.nome}}>
            </div>
            <div class="form-group">
                <label>Quantidade</label>
                <input type="text" name="quantidade" required="true"  class="form-control" value={{lista.quantidade}}>
            </div>
            <div class="form-group">
                <label>Preço</label>
                <input type="number" name="preco" class="form-control" value={{lista.preco}}>
            </div>
            <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
        </form>
    </div>

</body>
</html>